{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
         {% include 'incl/presentation.twig' %}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
