{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        
        {% if current_page.id == 'index' %}
            {% include 'incl/presentation.twig' %}
        {% endif %}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
