{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="tech-landing">
            <aside class="tech-sidebar">
            <h2>Techs:</h2>
            <div>
            {% for page in pages("technology") %}

                <h3><a href="{{ base_url }}/technology/{{ page.title }}"> {{ page.title }} </a></h3>
            {% endfor %}
            </div>
            </aside>
            <article class="tech-grid filter">
                {{content}}
            </article>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>
</html>
