@import '../../node_modules/normalize.css/normalize';
@import 'variables';


@import 'blockquotes';
@import 'code';


html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to bottom right, $background-color, $background-alternative-color ) ;
}

* {
    color: $font-color;
}


.main {
    flex: 1 0 auto;
    margin:0 auto;
    padding:2em;

    h1 {
        text-align: center;
    }
}

.header, .footer {
    flex: 0 0 auto;
}

.image-of-me {
    border-radius: 50%;
    float: left;
    margin-right: 3em;
    margin-top: 3em;
}
/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
