@use 'variables' as vars;

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  line-height: 1.4;
  text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  letter-spacing: 0.3px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,
      vars.$accent-color,
      vars.$bg-alt-color,
      vars.$bg-color );
  }

* {
  color: vars.$font-color;
  font-family: vars.$paragraph-font;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: vars.$heading-font;
  font-weight: 500;
  margin-bottom: 0.8em;
  margin-top: 1em;
  letter-spacing: 0.5px;
}

ol,
ul {
  padding-left: 1.5em;
}

p,
li {
  margin-bottom: 0.6em;
  max-width: 75ch;
}

img {
  max-width: 100%;
}

table {
  margin: 2em 0;

  th {
    background-color: vars.$font-alt-color;
  }
}

.header,
.footer {
  flex: 0 0 auto;
}

.hidden {
  display: none !important;
}

.main {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 2em;

  h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main {
    width: 90%;
    padding: 0.3em;

    h1 {
      font-size: 1.6em;
    }

    h3 {
      font-size: 1em;
    }
  }
}
