@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
@import 'base';

$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'variables';

@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'presentation';
@import 'technology';
@import 'test';


body {
    background-image: linear-gradient(to bottom right,
            $accent-color,
            $dark-background-color,
            $background-color);
}

* {
    color: $font-alternative-color;
    font-family: $paragraph-font;
}

code,
tr,
th,
strong {
    color: $font-color;
}

.image-of-me {
    border-radius: 20%;
    box-shadow: 5px 5px 6px lighten($dark-background-color, 10%);
}
