.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    padding: 1em;
}

.footer a {
    color: $font-color;
}

.footer .social {
    font-size: 2rem;
}
.social{
 .fab, .fas, .fa {
     color: $font-alternative-color;
 }   
    a {
    text-decoration: none;
    padding: .6em;
}
}

@media screen and (max-width: 480px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    
}
