.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #222;
  padding: 1em;

  a {
    color: $font-color;
  }

  .social {
    font-size: 2em;

    .fab,
    .fas,
    .fa {
      color: $font-alternative-color;
          font-weight: 700;

    }
    a {
      text-decoration: none;
      padding: 0.6em;
    }
  }

}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
