@use 'variables' as vars;

.palette-div {
  margin-top: 3em;
  width: 90%;
}

.palette-table {
  border-spacing: 1em .6em;
  border-collapse: separate;
  margin-bottom: 2em;
  width: 100%;
  table-layout: fixed;

  th {
    background-color: vars.$font-color;
  }

    td {
      width: 20%;
      height: 50px;
      margin-right: 1em;
      font-size: 0.8em;
      position: relative;

      .usage {
        opacity: 0;
        transition: 0.2s;
        position: absolute;
      }

      &:hover .usage {
       opacity: 1;
      }
    }
  }

.palette-img {
  border: 1px solid vars.$font-color;
}
@media (max-width: 768px) {
  .palette-table {
    border-spacing: .3em .2em;
    font-size: .5em;
    td {
      width: 20px;
      height: 50px;
    }
  }
}



.winter-palette {
  td {
    &:nth-child(1) {
      background-color: vars.$font-color;
    }

    &:nth-child(2) {
      background-color: vars.$font-alt-color;

      span {
        color: vars.$font-color;
      }
    }

    &:nth-child(3) {
      background-color: vars.$bg-color;
    }

    &:nth-child(4) {
      background-color: vars.$bg-alt-color;
    }

    &:nth-child(5) {
      background-color: vars.$accent-color;
    }
  }
}

.dark-palette {
  td {
    &:nth-child(1) {
      background-color: vars.$font-alt-color;

      span {
        color: vars.$font-color;
      }
    }

    &:nth-child(2) {
      background-color: vars.$font-color;
    }

    &:nth-child(3) {
      background-color: vars.$bg-color;
    }

    &:nth-child(4) {
      background-color: #1f6062;
    }

    &:nth-child(5) {
      background-color: vars.$accent-color;
    }
  }

}

/* palettes related to reports */

.ikea-palette {
  td {
    &:nth-child(1) {
      background-color: #0367a6;
    }

    &:nth-child(2) {
      background-color: #f2c53d;
    }

    &:nth-child(3) {
      background-color: #d9420b;
    }

    &:nth-child(4) {
      background-color: #f2f2f2;
    }

    &:nth-child(5) {
      background-color: #0d0d0d;
    }
  }

}

      
.csn-palette {
  td {
    &:nth-child(1) {
      background-color: #f2808a;
    }

    &:nth-child(2) {
      background-color: #361d59;
    }

    &:nth-child(3) {
      background-color: #482973;
    }

    &:nth-child(4) {
      background-color: #f2c063;
    }

    &:nth-child(5) {
      background-color: #f2f2f2;
    }
  }

}

.svt-palette {
  td {
    &:nth-child(1) {
      background-color: #d9204f;
    }

    &:nth-child(2) {
      background-color: #fff;
    }

    &:nth-child(3) {
      background-color: #e02e3d;
    }

    &:nth-child(4) {
      background-color: #1b1b1b;
    }

    &:nth-child(5) {
      background-color: #f2f2f2;
    }
  }

}
