@use 'variables' as vars;

.presentation {
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-columns: auto;
  gap: 3rem;
  grid-template-areas: 'image pres-pres pres-goal';

  .pres-image {
    grid-area: image;
    margin: 0;
  }

  .pres-pres {
    grid-area: pres-pres;

    h2 {
      font-size: 1.1em;
    }
  }

  .pres-goal {
    grid-area: pres-goal;
  }

  .image-of-me {
    border-radius: 20%;
    box-shadow: 5px 5px 6px rgba(vars.$bg-color, 0.2);
  }

  .pres-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .presentation {
    grid-template-columns: 1fr;
    grid-template-areas:
      'pres-pres'
      'image'
      'pres-goal';
    justify-items: center;
    padding: 0;

    p {
      max-width: 65ch;
    }
  }

}
