@use 'variables' as vars with (
  $font-color: #fff,
  $bg-alt-color:  #1f6062

);

@use '../../node_modules/normalize.css/normalize';
@use '../../shared/fontawesome/scss/fontawesome';
@use 'base';

$fa-font-path: '../../shared/fontawesome/webfonts';
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';

@use 'header';
@use 'footer';
@use 'blockquotes';
@use 'code';
@use 'presentation';
@use 'technology';
@use 'analysis';
@use 'gallery';
@use 'palette';
/*
body {
  background-image: linear-gradient(to bottom right,
  $accent-color,
  $bg-alt-color,
  $bg-color);
}

* {
  color: $font-alt-color;
  font-family: $paragraph-font;
}

code,
tr,
th {
  color: $font-color;
}

strong {
  color: $font-alt-color;
  font-style: italic;
}

.nav ul li a {
  color: $font-alt-color;
}


.image-of-me {
  box-shadow: 5px 5px 6px rgba($dark-bg-color, 0.1);
}
.analysis-content {
  h2,
  p {
    color: $font-alt-color;
    
  }
}
*/
