@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
@import 'base';

$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'variables';

@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'technology';
@import 'test';

.hidden {
  display: none !important;
}

.main {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 2em;

  h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  h2 {
    text-align: center;
  }

  .presentation {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    grid-template-areas: 'image pres-pres pres-goal';

    .pres-image {
      grid-area: image;
      margin: 0;
    }

    .pres-pres {
      grid-area: pres-pres;
    }

    .pres-goal {
      grid-area: pres-goal;
    }

    .image-of-me {
      border-radius: 20%;
      box-shadow: 5px 5px 6px lighten($background-color, 10%);
    }

    .pres-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 900px) {
  .main {
    .presentation {
      grid-template-columns: 1fr;
      grid-template-areas:
        'pres-pres'
        'image'
        'pres-goal';
      justify-items: center;
      padding: 0;

      p {
        max-width: 65ch; 
      }
    }

  }
}

@media (max-width: 767px) {
  .main {
    width: 90%;
    padding: 0.3em;

    h1 {
      font-size: 1.6em;
    }
  }
}

.palette-img {
  border: 1px solid $font-color;
}

.header,
.footer {
  flex: 0 0 auto;
}

