@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
@import 'base';

$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'variables';

@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'presentation';
@import 'technology';
@import 'palette';
@import 'gallery';
@import 'analysis';


body {
  background-image: linear-gradient(to bottom right,
  $accent-color,
  $dark-bg-color,
  $bg-color);
}

* {
  color: $font-alt-color;
  font-family: $paragraph-font;
}

code,
tr,
th {
  color: $font-color;
}

strong {
  color: $font-alt-color;
  font-style: italic;
}

.nav ul li a {
  color: $font-alt-color;
}


.image-of-me {
  box-shadow: 5px 5px 6px rgba($dark-bg-color, 0.1);
}

.analysis-content {
  h2,
  p {
    color: $font-alt-color;

  }
}
