@use 'variables' as vars with (
  $font-color: #fff,
  $font-alt-color: #333,
  $bg-alt-color: #1f6062
  );

@use '../../node_modules/normalize.css/normalize';
@use '../../shared/fontawesome/scss/fontawesome';
@use 'base';

$fa-font-path: '../../shared/fontawesome/webfonts';
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';

@use 'header';
@use 'footer';
@use 'blockquotes';
@use 'code';
@use 'presentation';
@use 'technology';
@use 'analysis';
@use 'gallery';
@use 'palette';

.nav ul li a {
  color: vars.$font-color;
}

code,
th {
  background-color: vars.$font-color;
  color: vars.$font-alt-color;
}
td {
color: vars.$font-color
}
