<section class="presentation">

<figure>
<img src="{{base_url}}/image/me-small.png" class="image-of-me" alt="picture of me" width:"150" height:"159">
</figure>

<div>
<p>I am Petra, and this is going to be my portfolio!

After spending ~10 years in the service industry, I made the decision to try something, for me, completely new.

After a year of maternity leave, I attended a 2 year Higher Vocational Education in Frontend Development between 2021-2023. Due to the current status of the market, getting a job has proven to be just as, if not more, diffucult as to dare taking a huge step out of my comfort zone and dive in to a new field. 
</p>
</div>
<div>
<h3> My Current Goal </h3>

My goal with attending this package of 4 courses, is to maintain my interest for this industry, gain more knowledge and also keep my brain working while beeing on another maternity leave.

My hope is that after completing all 4 courses, I will feel excited, ready and set to start my new career! 
</div>
</section>
