<section class="presentation">

<figure class="pres-image">
<img src="{{base_url}}/image/me-small.png" class="image-of-me" alt="picture of me" width:"150" height:"159">

</figure>

<div class="pres-pres">
<h3>I am Petra, and this is going to be my portfolio!</h3>
<p>
After spending ~10 years in the service industry, I made the decision to try something, for me, completely new.</p>
<p>
After a year of maternity leave, I attended a 2 year Higher Vocational Education in Frontend Development between 2021-2023. 
Due to the current status of the market, getting a job has proven to be just as, if not more, 
diffucult as to dare taking a huge step out of my comfort zone and dive in to a new field. 
</p>
</div>


<div class="pres-goal">
<h3> My Current Goal </h3>

<p>
My goal with attending this package of 4 courses, is to maintain my interest for this industry, 
gain more knowledge and also keep my brain working while beeing on another maternity leave.
</p>
<p>
My hope is that after completing all 4 courses, I will feel excited, ready and set to start my new career! 
</p>
</div>
</section>
